#header{
	background-color: #8bb0f6;
}
#header a{
	 color: #8181F7;
}
#header li{
	background-color: #FFFFFF;
}
#header ul{
	background-color: #8181f7;
}
#toplink{
	color:#FFFFFF;
}
#content{
	background-color: #CED8F6;
	align-content: center;
	align-vertical-align: center;
}
#footer{
	background-color: #8bb0f6;
	text-align: center;
}
#departmentTable th{
	text-align: center;
}
#info {
	text-align: center;
	max-width: 400px;
	margin: auto;
}